<h2 mat-dialog-title class="text-center">Booking Transaction Details</h2>
<mat-dialog-content class="p-0 m-0">
  <div fxLayout="row">
      <div fxFlex="50" class="text-right pr-3">
        <h4>Payment Mode</h4>
        <h4>Card Number</h4>
        <h4>Card Type</h4>
        <h4>Bank Name</h4>
        <h4>Amount</h4>
        <h4>Date Paid</h4>
      </div>
      <div fxFlex="50" class="text-left pl-3">
        <h4>{{(transaction | async)?.paymentMode}}</h4>
        <h4>{{(transaction | async)?.cardNumber}}</h4>
        <h4>{{(transaction | async)?.cardType}}</h4>
        <h4>{{(transaction | async)?.bankName}}</h4>
        <h4>{{(transaction | async)?.amount}}</h4>
        <h4>{{(transaction | async)?.createdAt | dateFormat:'dd/mm/yyyy h:MM TT'}}</h4>
      </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
	<button mat-raised-button mat-dialog-close>CLOSE</button>
</mat-dialog-actions>
