<button
  *ngIf="!customerReview"
  mat-raised-button
  color="primary"
  class="m-4"
  (click)="addReviewDialog()"
>
  Write Review
</button>

<button
  *ngIf="customerReview"
  mat-raised-button
  color="primary"
  class="m-4"
  (click)="updateReviewDialog()"
>
  Update Review
</button>

<mat-card *ngIf="customerReview" class="mb-5 ml-4 w-50">
  <mat-card-content fxLayout="column">
    <igc-rating
      class="text-success"
      [value]="customerReview.rate"
      min="1"
      max="5"
      disabled
    ></igc-rating>
    <h4 class="mt-3 title">{{customerReview.title}}</h4>
    <div class="mt-3 text-info">
      <p class="quote">{{customerReview.description}}</p>
    </div>
    <div class="mt-4 text-success" fxLayout="row" fxLayoutAlign="space-between">
      <div fxLayout="row" fxLayoutAlign="start center">
        <img
          class="avatar"
          [src]="emailGravatarURL(customerReview.email)"
          alt="avatar"
        />
        <span class="pl-2">{{customerReview.fullname}}</span>
      </div>
      <p>{{customerReview.createdDate | dateFormat: 'dd mmm yyyy'}}</p>
    </div>
  </mat-card-content>
</mat-card>

<mat-divider></mat-divider>
<div *ngIf="customerReviews" class="m-4">
  <mat-card *ngFor="let review of customerReviews" class="mt-5 w-50">
  <mat-card-content fxLayout="column">
    <igc-rating
      class="text-success"
      [value]="review.rate"
      min="1"
      max="5"
      disabled
    ></igc-rating>
    <h4 class="mt-3 title">{{review.title}}</h4>
    <div class="mt-3 text-info">
      <p class="quote">{{review.description}}</p>
    </div>
    <div class="mt-4 text-success" fxLayout="row" fxLayoutAlign="space-between">
      <div fxLayout="row" fxLayoutAlign="start center">
        <img
          class="avatar"
          [src]="emailGravatarURL(review.email)"
          alt="avatar"
        />
        <span class="pl-2">{{review.fullname}}</span>
      </div>
      <p>{{review.createdDate | dateFormat: 'dd mmm yyyy'}}</p>
    </div>
  </mat-card-content>
</mat-card>
</div>
