.avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}

.quote::before {
  content: "\201C";
}

.quote::after {
  content: "\201D";
}

.title {
  margin: 0;
  font-weight: bold;
}
